*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(SKYHOP\ BG.png);
  background-size: 2560px;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
/*Exit Button*/
.exit_border{
  border: 2px solid;
  background-color: red;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7898f0; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.exit{
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0px 10px;
  background-color: red;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.exit:hover, .exit:focus, .exit:active{
  box-shadow: 0 0 20px rgb(0,0,0,0.6);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.icon_container {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 60px;
  left: 600px;
  border: 2px solid;
  border-radius: 15px;
}
.image1 {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.title{
  height: 50px;
  width: 280px;
  text-align: center;
  font-size: 60px;
  font-family: "Jua", sans-serif;
  margin-top: 55px;
  margin-left: 670px;
  margin-right: 130px;
  display: block;
  padding: 20px 25px;
  background-color: transparent;
}
/*Game Tutorial*/
.tutorial{
  height: 95px;
  width: 280px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: 28vh;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(99, 151, 255);
}
.text_control{
  margin-bottom: 15px;
  background-color: rgb(99, 151, 255);
  border-radius: 10px;
}
.button1{
  display: inline-flex;
  margin-right: 20px;
  gap: 2px;
  background-color: rgb(99, 151, 255);
}
.button2{
  display: inline-flex;
  gap: 2px;
  background-color: rgb(99, 151, 255);
}
.button_A{
  border: 2px solid;
  padding: 8px 15px;
  background-color: rgb(152, 216, 255);
}
.button_D{
  border: 2px solid;
  padding: 8px 15px;
  background-color: rgb(152, 216, 255);
}
.arrow_L
{
  border: 2px solid;
  padding: 5px 15px;
  background-color: rgb(152, 216, 255);
}
.arrow_R{
  border: 2px solid;
  padding: 5px 15px;
  background-color: rgb(152, 216, 255);
}
/*Singleplayer Button*/
.single{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(99, 151, 255);
}
.singleplayer{
  color: black;
  font-family: "Noto Sans Lao Looped", sans-serif;
  font-size: 35px;
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  background-color: rgb(99, 151, 255);
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.singleplayer:hover, .singleplayer:focus, .singleplayer:active{
  box-shadow: 0 0 20px rgb(0,0,0,0.8);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.single .singleplayer{
  height: 40px;
  width: 210px;
  background-color: rgb(99, 151, 255);
}
/*Multiplayer Button*/
.multi{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(99, 151, 255);
}
.multiplayer{
  color: black;
  font-family: "Noto Sans Lao Looped", sans-serif;
  font-size: 35px;
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  background-color: rgb(99, 151, 255);
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.multiplayer:hover, .multiplayer:focus, .multiplayer:active{
  box-shadow: 0 0 20px rgb(0,0,0,0.8);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.multi .multiplayer {
  height: 40px;
  width: 210px;
  background-color: rgb(99, 151, 255);}
.option{
  margin-top: 20px;
}
.sound{
  padding: 20px 41px;
  color: black;
  font-family: "Noto Sans Lao Looped", sans-serif;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: auto;
  left: 41.5%;
  background-color: rgb(99, 151, 255);}
  .sound:active {
    transform: translateY(2px); 
    box-shadow: none;           
  }

.music{
  padding: 20px 41px;
  color: black;
  font-family: "Noto Sans Lao Looped", sans-serif;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: auto;
  left: 50.3%;
  background-color: rgb(99, 151, 255);
}
.music:active {
    transform: translateY(2px); 
    box-shadow: none;          
}
  